@font-face {
    font-family: norms-regular;
    src: url(../../fonts/ttnorms-regular.woff);
}

@font-face {
    font-family: norms-medium;
    src: url(../../fonts/ttnorms-medium.woff);
}

@font-face {
    font-family: norms-bold;
    src: url(../../fonts/ttnorms-bold.woff);
}