.menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    @media screen and (max-width: 642px) {
        position: absolute;
        top: 55%;
        left: 48%;
        display: none;
       
     }

    &__list-item {
        display: inline-block;
        margin-right: 12px;
        @media screen and (max-width: 642px){
            display: block;
        }

    }

    &__list-item:last-child {
        margin: 0;
    }

    &__link--hover:hover {
        transform: scale(1.1);
    }

    &__link {
        color: white;
        transition: 0.3s;
    }
}

.humberger__box:checked+ .menu {
    display: block;
}
