.partners {
    margin-bottom: 40px;

	&__heading {
        font-family: var(--bold);
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;

        text-transform: uppercase;
        color: #323264;

        margin-bottom: 30px;
       text-align: center;
     }


	&__inner { 
        display: flex;
        flex-wrap: wrap;
    }


	&__element { 
        width: 25%;
        min-height: 120px;

        display: flex;
        justify-content: center;
        align-items: center;
        @media  screen and (max-width:820px) {
            width: 50%;
            min-height: 90px;
        }
    }


}