.partners {

	&__heading {
        font-family: var(--bold);
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;

        text-transform: uppercase;
        color: #323264;
     }


	&__inner { }


	&__element { }


}