@import "slick-1.8.1/slick/slick.scss";
@import "slick-1.8.1/slick/slick-theme.scss";
@import "components/fonts.scss";
@import "components/header.scss";
@import "components/menu.scss";
@import "components/hero.scss";
@import "components/lawyers.scss";
@import "components/skills.scss";
@import "components/team.scss";
@import "components/cases.scss";
@import "components/partners.scss";
@import "components/news.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style: none;
}

// .main {
//     background: linear-gradient(20deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
//     padding: 180px 0 0 0;
// }

//////////CONTAINER
.container {
    margin: 0 auto;
    max-width: 1360px;
    padding: 0 20px 0 20px;
    width: 100%;
}

// WRAPPERS////
.main-wrapper {
    position: relative;

    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
    border-radius: 0px 0px 12px 12px;
}

.main-wrapper:after {
    position: absolute;
    content: "";
    width: 97%;
    height: 10px;
    right: 50%;
    bottom: -10px;
    transform: translate(50%);
    background-color: #cacadb;
    border-radius: 0 0 12px 12px;
}

.main-wrapper::before {
    position: absolute;
    content: "";
    width: 94%;
    height: 10px;
    right: 50%;
    bottom: -20px;
    transform: translate(50%);
    background-color: #e7e7f2;
    border-radius: 0 0 12px 12px;
}

.nav__link {
    position: relative;

    font-size: 14px;
    line-height: 17px;
    font-family: var(--bold);
    text-transform: uppercase;
    letter-spacing: 1px;

    opacity: 0.5;
    color: #24a3ff;
}
.nav__link:active {
    color: #1689db;
    opacity: 1;
}
.nav__link::after {
    content: "";
    position: absolute;

    width: 10px;
    height: 10px;
    border: 0;
    border-bottom: 2px;
    border-right: 2px;
    border-style: solid;
    top: 0;
    right: -15px;

    transform: rotate(315deg) translateY(50%);
}

.gradient__title {
    margin-bottom: 70px;

    font-size: 42px;
    line-height: 50px;
    font-family: var(--bold);

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);

    @media screen and (max-width: 642px) {
        font-size: 32px;
        line-height: 38px;
    }

    @media screen  and (max-width:370px) {
        font-size: 26px;
        line-height: 34px;
       }
}



/////VARIABLES
:root {
    --regular: norms-regular, serif;
}
:root {
    --medium: norms-medium, serif;
}

:root {
    --bold: norms-bold, serif;
}
//////////// MODIFICATORS
.mgb20 {
    margin-bottom: 20px;
}
.mgb40 {
    margin-bottom: 40px;
}